.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: black;
}

.heading li {
  float: left;
}

.heading li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.heading li a:hover{
  background-color: olive;
}

.heading-title {
  margin-left: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex-basis: 27%;
  padding: 10px;
}

.card {
  text-align: center;
  background-color: aliceblue;

}

img {
  width: 100%;
  height: auto;
}

p.title {
  font-size: 16px;
  background-color: aliceblue;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
}

p {
  background-color: black;
}

.footer {
  background-color: olive;
  margin-bottom: 0;
  padding: 10px;
  color: whit;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ width: 100%;}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 0px;
  right: 20px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}
.popup .close:hover {color: #06D85F;}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

#openPopUp{
  color: white;
  text-decoration: none;
  cursor: pointer;
}