* {
  margin: 0;
  padding: 0;
  font: inherit;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading-title {
  list-style-type: none;
  float: left;
  margin-left: 50px;
}

.heading-title:hover {
  cursor: pointer;
}

.heading-title a {
  text-decoration: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex-basis: 27%;
  padding: 10px;
}

.card {
  text-align: center;
  background-color: aliceblue;
}

.card button {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

p.title {
  font-size: 16px;
  background-color: aliceblue;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ width: 100%;}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 0px;
  right: 20px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}
.popup .close:hover {color: #06D85F;}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

#openPopUp{
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.switch-mode {
  margin-left: 800px;
  text-decoration: none;
}

.header {
  padding: 24px 0;
}

.header:hover {
  background-color: blue;
}

.containerDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-card {
  display: flex;
  align-items: flex-start;
  background-color: rgb(221, 221, 221);
  width: 100%;
  margin-bottom: 50px;
}
.product-card .badge{
  padding: 15px;
  background-color:red;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  margin-right: 200px;
}

.product-card .product-tumb img{
  max-height: 400px;
  margin-bottom: 0;
}
.product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 25px;
  margin-left: 20px;
}

.product-details h4 {
  font-weight: bold;

}
.product-details .product-price{
  margin: 30px 0;
  color: orange;
  font-weight: bold;

}
.product-details .product-bottom-details{
  margin-right: 20px;
  text-align: left;
  margin-bottom: 20px;
  font-size: 20px;

}